/* @font-face {
    font-family: Roboto Slab;
    src: url('fonte/RobotoSlab-VariableFont_wght.ttf');
 } */

.Login {
    margin: 0;
    padding: 0;
    /* font-family: "Roboto Slab", sans-serif; */
}

.container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

header {
    background: #000000;
    display: flex;
    width: 100%;
    /* height: 8%; */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

header a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
    font-weight: 600;
}

header a:hover {
    background: #4682B4;
    transition: 1s;
}

.header-text {
    padding: 2.4%;
}

.header-logo {
    margin-bottom: 10%;
    margin-top: 0%;
    padding: 0%;
    height: 100%;
}

.header-left {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.header-right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    padding-right: 2%;
}

.post-list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

.container-post {
    width: 50%;
    height: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    
}

.header-post {
    height: 12%;
    width: 100%;
}

.content-post {
    height: 88%;
    width: 99%;
    background: #eae7e7;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 1%;
    border-radius: 1vw;
    box-shadow: 5px 5px 9px #888888;
}
.register {
    background: #e8e7ea;
    position: relative;
    margin: 1%;
    border-radius: 1vw;
    border: 1px solid grey;
    box-shadow: 5px 5px 9px #888888;
    padding: 2%;
    display: flex;
    flex-direction: column;
}


.info-post {
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.1vw;
}

.image-post {
    width: 50%;
    margin: 1%;
    border-radius: 0.5vw;
}

.title-post {
    font-weight: 600;
    font-size: 1.5vw;
    margin: 1%;
    text-shadow: 2px 2px 2px rgb(116, 114, 114);
}

.title-register {
    font-size: 1.5vw;
    font-weight: 600;
    padding-bottom: 5%;
    padding-top: 5%;
}

.status {
    text-align: right;
    color: red;
    font-weight: 600;
    font-size: 1.2vw;
}

.available {
    color: green;
}

form {
    width: 100%;
    padding-bottom: 4%;
    align-content: center;
}


input[type=text] {
    width: 80%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: .9vw;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 1% 1.5% 1% 5%;
    /* font-family: "Roboto Slab", sans-serif; */
    margin-bottom: 3%;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid grey;

}

.container-checkmark {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-checkmark:hover input ~ .checkmark {
    background-color: #ccc;
}

.container-checkmark input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.container-checkmark input:checked ~ .checkmark {
    background-color: #4682B4;
}

.container-checkmark .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-checkmark input:checked ~ .checkmark:after {
    display: block;
}

.submit-button {
    background-color: #4682B4;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10% 35%;
    cursor: pointer;
    padding: 14px 40px;
    /* font-family: "Roboto Slab", sans-serif; */
    border-radius: 4px;
}

.submit-button:hover {
    background-color: #2e6999;
}

.dropbtn {
    background-color: #000000;
    color: white;
    padding: 16px;
    padding-top: 21px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    /* font-family: "Roboto Slab", sans-serif; */
    font-size: 1.2vw;
    font-weight: 600;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    padding-top: 5.5%;
    background-color: #f9f9f9;
    min-width: 300px;
    height: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #82aaca;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #4682B4;
  transition: 1s;
}

.search-container {
    float: none;
    padding-left: 15%;
    padding-top: 5.5%;
}

.search-bar input[type=text]{
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
