.App {
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0069D0;
  color: white;
}

.Login {
  padding: 10px;
  background-color: #002451;
  text-align: left;
}

.Login p {
  margin: 0px;
}

.Sidebar {
  background-color: #D3D4DD;
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  left: 0;
}

.Sidebar p {
  margin: 0px;
}

.Filtro {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Filtro p {
  font-size: 16px;
}

.Filtro input {
  width: 50%;
  height: 16px;
}