.App {
  text-align: center;
}

.home-body {
  display: flex;
}

.properties-parent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  padding-right: 160px;
}

.Teste{
  height: 100px;
  width: 100px;
  background-color: crimson;
}

.Sidebar {
  background-color: #d3d4dd;
  width: 220px;
}

.FiltroParent {
  height: 60%;
}

.Filtro {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Filtro p {
  font-size: 16px;
  margin: 0px;
}

.Filtro input {
  width: 50%;
  height: 16px;
}

.FiltroRadio {
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.filtro-title {
  margin-top: 24px;
  margin-bottom: 12px;
}

.filtro-button {
  margin-top: 24px;
  background-color: #4682b4;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
