.ListItem {
    background: #eae7e7;
    border-radius: 0.5vw;
    box-shadow: 5px 5px 9px #888888;
    display: flex;
    
    margin: 1% 0%;
    padding: 0px 5px;
}

.InterestData {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}

.ListItem button {
    margin: 5px 10px;
    width: 10%;

    background-color: #4682b4;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 0.5vw;
    cursor: pointer;
}